body {
    margin: 0;
    
}
* {
    box-sizing: border-box;
}
header{
    background:url("./Forrás/fejléc_háttér.jpeg");
    font-size: 5em;
    font-weight: 700;
    padding: 120px 90px;
    height: 364px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 5);
    max-width: 100%;
}
.wrapper{
    width: 1200px;
    margin: 0 auto;
    max-width: 95%;
}
nav{
    float: right;
    width: 25%;
    background-color: burlywood;
}
main{
    float: left;
    width: 75%;
    background: lightgreen;
    padding: 55px;
}


nav ul{
    margin-left: 20px;
    padding: 30px;
    list-style-image: url("../kutya_float/Forrás/dog-paw.png");
}
nav ul li{
    border-bottom: 1px dashed rgba(255,255,255,0.2);
}

nav ul li a{
    color: black;
    padding: 15px 0px;
    display: block;
    text-decoration: none;
}

nav ul li a:hover{
    background: rgba(255,255,255,0.1);
    text-align: center;
}

.card {
    text-align: left;
    float: left;
    display: block;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
    margin-left: 55px;
    margin-bottom: 25px;
    width: 315px;
    background-color: papayawhip;
}
.card a{
    background-color: burlywood;
    color: black;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}
.card p{
    padding: 10px;
}
.card h2{
    padding: 10px;
}
@media (max-width:990px){
    .box {
        width: 90%;
    }
}